body {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-flow: row wrap;
}
.sketch-container {
    grid-column-start: 20%;
    grid-column-end: 20%;
    row-column-start: 50%;
    row-column-end: 50%;
    border: solid rgba(131, 131, 131,1) 3px;
    display: grid;
    width: 400px;
    height: 400px;
}

.color-picker {
    border: none;
    width: 60px;
    height: 60px;
}
